# 默认忽略的文件
/.idea/



# 依赖关系
/node_modules

# 生产
/build
/scripts_build

# 生成的文件
.docusaurus
.cache-loader

# 杂项
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 自定义
/i18n
/build
/website
